div {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #F00;
    background-color: #F008;
}

.completato {
    border-color: #888;
    background-color: #AAA;
}

.missione {
    border-color: #0F0;
    background-color: #0F08;
}
